* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    min-width: 360px;
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}