@font-face {
    font-family: Poppins;
    src: url("/src/fonts/Poppins-Regular.ttf");
}

.font__title {
    font-family: $font-family-poppins;
    font-size: $font-size-title;
}

.font__caption-sm {
    font-family: $font-family-poppins;
    font-size: $font-size-sm;
}

.font__caption-base {
    font-family: $font-family-poppins;
    font-size: $font-size-base;
}