/* Color */

$label-color: #24292e;
$btn-bg-color: #2ea44f;
$btn-text-color: #ffffff;
$error-border-color: #ff0000;
$error-bg-color: #ffbdbd;
$input-focus-color: #0366d6;

/* Fonts */

// Family
$font-family-poppins: Poppins;
// Size
$font-size-base: 1rem;
$font-size-title: ($font-size-base * 1.875); // 30px
$font-size-sm: ($font-size-base * 0.875); // 14px
$font-size-md: ($font-size-base * 1.125); // 18px