.form {
    margin-bottom: 20px;
    &__item {
        flex-direction: column;
    }
}

.item {
    &__label {
        width: 100%;
        color: $label-color;
        margin-bottom: 7px;
    }
    &__input {
        margin-bottom: 15px;
        border: 1px solid #dddfe2;
        border-radius: 4px;
        padding: 10px;
        &:focus {
            border-color: $input-focus-color;
            outline: none;
            box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
        }
    }
}